body {
   padding-top: 40px;
}

.row {
   margin-left: 0.5em;
}

.viz ul,
.viz ul {
   margin: 2em;
   list-style-type: none;
}

.viz li,
.viz li {
   margin-bottom: 0.5em;
}

.viz li img,
.viz li img {
   vertical-align: middle;
}

#states path:hover {
   opacity: 0.5;
}

svg line.rule {
   stroke: #ccc;
   stroke-width: 1px;
}

svg text.hours {
   font-size: 9pt;
}

svg text.map-label {
   font-size: 10pt;
   fill: #ddd;
}

#states path {
  stroke: #eee;
  stroke-width: 1.5px;
}

#states-with-checkins-map {
   margin: 2em;
   padding: 1em;
   width: 825px;
   height: 400px;
}

#lastfm-blobs-viz,
#checkin-blobs-viz {
   margin: 2em;
   padding: 1em;
   width: 825px;
}

#lastfm-blobs-viz circle:hover,
#checkin-blobs-viz circle:hover {
   opacity: 0.5;
}
