/*
html,
body {
   height: 100%;
}

body {
   font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
   color: #4d4d4d;
   line-height: 1.15;
}
*/

body {
   padding-top: 60px;
}

.viz ul,
.viz ul {
   margin: 2em;
   list-style-type: none;
}

.viz li,
.viz li {
   margin-bottom: 0.5em;
}

.viz li img,
.viz li img {
   vertical-align: middle;
}

circle:hover {
   opacity: 0.5;
}

svg text {
   fill: #eee;
}

svg text.hours {
   font-size: 9pt;
}

#states path {
  stroke: #eee;
  stroke-width: 1.5px;
}

#states-with-checkins-map {
   margin: 2em;
   padding: 1em;
   border-radius: 1em;
   background-color: #eee;
   width: 960px;
   height: 500px;
}

#lastfm-blobs-viz,
#checkin-blobs-viz {
   margin: 2em;
   padding: 1em;
   border-radius: 1em;
   background-color: #999;
   width: 825px;
}
