body {
   font-family: Georgia;
}

ul {
   margin: 2em;
   list-style-type: none;
}

li {
   margin-bottom: 0.5em;
}

li img {
   vertical-align: middle;
}

#states-with-checkins-map {
   margin: 2em;
   padding: 1em;
   border-radius: 1em;
   background-color: #eee;
   width: 960px;
   height: 500px;
}

#states path {
  stroke: #fff;
  stroke-width: 1.5px;
}
